<h1> Welcome to Bustle Clone </h1>

Here are our top stories:

<ul>
  {{#each model as |story|}}
    {{story-tile story=story update="update" destroyStory="destroyStory"}}
  {{/each}}
</ul>

{{new-story save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
